@using Microsoft.AspNet.Identity
@using ARMS.Helpers;
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
        </li>
        <li class="dropdown dropdown-main-menu">
                <a href="#" class="dropdown-toggle" type="button" id="dropdownMainMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    Options
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" aria-labelledby="dropdownMainMenu">
                    @if (CurrentWebContext.CurrentUser.Type == "student")
                    {
                    <li>
                        @Html.ActionLink("Search for Course", "Search", "Home")
                    </li>
                    }
                    @if (CurrentWebContext.CurrentUser.Type == "teacher")
                    {
                        // smthn
                    }
                    <li>
                        @Html.ActionLink("See my Courses", "Index", "Courses", new { userId = CurrentWebContext.CurrentUser.UserID }, null)
                    </li>
                    <li>
                        @Html.ActionLink("Manage Account", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
                    </li>
                    <li role="separator" class="divider"></li>
                    <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
                </ul>
        </li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a>You need to login to access ARMS's features</a></li>
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
