@model ARMS.Data.Models.Lecture
@using ARMS.Data.Models

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ICollection<User> list = ViewBag.Attendees;
}

<h2>@Model.Course.CourseName</h2>

<div>
    <h4>Lecture</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Course.CourseName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Course.CourseName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.From)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.From)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.To)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.To)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CheckInEnabled)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CheckInEnabled)
        </dd>

    </dl>

    <br />
    @if (Model.To < DateTime.Now)
    {
        <h4>List of students that have attended the lecture:</h4>
        <table class="custom-table">
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Email
                </th>
            </tr>

            @foreach(var item in list)
            { 
                <tr>
                    <td>
                        @item.FirstName 
                        @item.LastName
                    </td>
                    <td>
                        @item.Email
                    </td>
                </tr>
            }
        </table>
    }
    else
    {
        <h4>Come back when the lecture has passed to see the list of students that have attended.</h4>
    }

</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { courseId = Model.CourseID, lectureId = Model.LectureID }) |
    @Html.ActionLink("Back to List", "Index", new { courseId = Model.CourseID })
</p>
