@model IEnumerable<ARMS.Data.Models.Lecture>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>List of Lectures</h2>

<p>
    @Html.ActionLink("Create New", "Create", new { courseId = ViewBag.CourseID }, new { @class = "btn btn-default" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Course.CourseName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.From)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.To)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CheckInEnabled)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Course.CourseName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.From)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.To)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CheckInEnabled)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { courseId = item.CourseID, lectureId = item.LectureID }) |
            @Html.ActionLink("Details", "Details", new { courseId = item.CourseID, lectureId = item.LectureID }) |
            @Html.ActionLink("Delete", "Delete", "Lectures", new { courseId = item.CourseID, lectureId = item.LectureID }, new { onclick = "return confirm('Are you sure you want to delete this lecture?');", @class = "text-danger" })
        </td>
    </tr>
}

</table>

<p>
    @Html.ActionLink("Back to Course Edit", "Edit", "Courses", new { courseId = ViewBag.CourseID }, null)
</p>