@model ARMS.ViewModel.DetailedCourseVM
@using ARMS.Helpers
@using ARMS.Data.Helpers

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var list = SupervisorHelper.GetParticipantsForCourse(Model.CourseID);
}

<h2>@Model.CourseName</h2>

<div>
    <h4>Course</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Creator.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Creator.FirstName)
            @Html.DisplayFor(model => model.Creator.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CourseName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CourseName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CourseDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CourseDescription)
        </dd>
        @if (CurrentWebContext.CurrentUser.Type == "student")
        {
            <dt>Your attendance:</dt>
            <dd style="text-decoration: underline;">
                Performance: @ParticipantHelper.GetParticipantAttendance(CurrentWebContext.CurrentUser.UserID, Model.CourseID)%
            </dd>
        }
    </dl>

    @if (CurrentWebContext.CurrentUser.Type == "teacher")
    {
        <span>This course has: <u>@ViewBag.CountOfPendingStudents pending students</u></span><br />
        <span>Go to edit page to approve/remove.</span>

        <br />
        <h4>List of Supervisors</h4>
        <table class="custom-table">
            <tr>
                <th>
                    Supervisor's Name
                </th>
                <th>
                    Email
                </th>
            </tr>

            @foreach (var item in Model.Supervisors)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FirstName)
                        @Html.DisplayFor(modelItem => item.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                </tr>
            }
        </table>

        <h4>List of Students</h4>
        <table class="custom-table">
            <tr>
                <th>
                    Student Name
                </th>
                <th>
                    Email
                </th>
                <th>
                    Attendance
                </th>
            </tr>

            @foreach (var item in Model.Participants)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FirstName)
                        @Html.DisplayFor(modelItem => item.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @ParticipantHelper.GetParticipantAttendance(item.UserID, Model.CourseID)%
                    </td>
                </tr>
            }
        </table>

        <h4>Scheduled Lectures</h4>
        <table class="custom-table">
            <tr>
                <th>From</th>
                <th>To</th>
            </tr>

            @foreach (var item in Model.Lectures)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.From)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.To)
                    </td>
                </tr>
            }
        </table>
    }

</div><br />
<p>
    @if (CurrentWebContext.CurrentUser.Type == "teacher")
    {
        @Html.ActionLink("Edit", "Edit", new { id = Model.CourseID }) 
        <span>|</span>
    }
    @Html.ActionLink("Back to List", "Index", new { userId = CurrentWebContext.CurrentUser.UserID })
</p>
