@model IEnumerable<ARMS.Data.Models.Course>
@using ARMS.Helpers

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (CurrentWebContext.CurrentUser.Type == "student")
{
<br />
<h2>The courses you are enrolled for:</h2>
}

@if (CurrentWebContext.CurrentUser.Type == "teacher")
{
<h2>The courses that you manage:</h2>

<p>
    @Html.ActionLink("Create New", "Create", new { userId = CurrentWebContext.CurrentUser.UserID })
</p>
}

<table class="table">
    <tr>
        <th>
            <!-- Course creator comes from display name in user model -->
            @Html.DisplayNameFor(model => model.Creator.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CourseName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CourseDescription)
        </th>
        <th>Action</th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Creator.FirstName)
            @Html.DisplayFor(modelItem => item.Creator.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CourseName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CourseDescription)
        </td>
        @if (CurrentWebContext.CurrentUser.Type == "teacher")
        {
            <td>
                @Html.ActionLink("Edit", "Edit", new { courseId = item.CourseID }) |
                @Html.ActionLink("Details", "Details", new { courseId = item.CourseID }) |
                @Html.ActionLink("Delete", "Delete", new { courseId = item.CourseID }, new { onclick = "return confirm('Are sure wants to delete?');" })
            </td>
        }

        @if (CurrentWebContext.CurrentUser.Type == "student")
        {
            <td>
                @Html.ActionLink("See Details", "Details", new { courseId = item.CourseID })
            </td>
        }
    </tr>
    }

</table>


